<head>
   <title>Work Api</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
   <script src="/assets/fib.js"></script>
   <link rel="stylesheet" type="text/css" href="/assets/fib.css">
</head>
<section class="h-100">
   <header class="container h-100">
      <div class="d-flex align-items-center justify-content-center h-100 text-center">
         <div class="d-flex flex-column">
            <div class="container">
               <div class="card">
                  <div class="card-header">Największa liczba w ciągu</div>
                  <div class="card-body">
                     <form id="number-form">
                        <div class="form-group">
                           <label for="number">Liczba n:</label>
                           <input type="number" class="form-control" id="number" placeholder="Podaj liczbę" name="number">
                        </div>
                        <button type="button" class="btn btn-primary btn-block" id="count">Oblicz</button>
                     </form>
                     <div class="alert alert-success" id="result-box">
                        <strong>Wynik:</strong> <span id="result-number">0</span>
                     </div>
                  </div>
                  <div class="card-footer">by Filip Podstawski</div>
               </div>
            </div>
         </div>
      </div>
   </header>
</section>